{
  "processors": ["stylelint-processor-styled-components"],
  "ignoreFiles": ["src/styles/*.js"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "rule-empty-line-before": null,
    "no-descending-specificity": null,
  }
}
